<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <meta http-eqiuv="X-UA-Compatible" content="ie=edge">
    <title>Walk</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h3 align='center'>
        Muscles 
    </h3>
    <ul>
        <li> <form action="/">
            <button type="submit">Home</button>
            </form>
        </li>
        <li>
            <form action="nerves">
                <button type="submit">Nerves</button>
            </form>
        </li>
        <li>
            <form action="skeleton">
                <button type="submit">Skeleton</button>
            </form>
        </li>
    </ul>
    <div class="transbox">
        <h3>{{text}}</h3>
    </div>
</body>



</html>