<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <meta http-eqiuv="X-UA-Compatible" content="ie=edge">
    <title>Walk</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h3 align='center'>
        Nerves 
    </h3>
    <ul>
        <li> <form action="muscles">
            <button type="submit">Muscles</button>
            </form>
        </li>
        <li>
            <form action="/">
                <button type="submit">Home</button>
            </form>
        </li>
        <li>
            <form action="skeleton">
                <button type="submit">Skeleton</button>
            </form>
        </li>
    </ul>
    <div class="transbox">
        <h3>{{text}}</h3>
    </div>
</body>



</html>

<style type="text/css">
    body{
        background-image: url('nerves.jpg');
        background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
    }

    h1 {
		color: red;
		font-size:60px;
	}

	div.transbox {
	  margin: 3px;
	  background-color: #ffffff;
	  border: 1px solid black;
	  opacity: 0.6;
	}

	div.transbox h3 {
	  margin: 1%;
	  font-weight: bold;
	  color: black;
	  font-size: 40px;
	  text-align: center;
    }
    


</style>